{{outlet}}

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>E-mail</th>
      <th>Message</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |message|}}
        <tr>
            <td>{{message.id}}</td>
            <td>{{message.email}}</td>
            <td>{{message.message}}</td>
            <td><button class="btn btn-danger btn-xs" {{action 'deleteContact' message}}>Delete</button></td>
        </tr>
    {{/each}}
  </tbody>
</table>