{{outlet}}

<h1 class="text-center">{{headerMessage}}</h1>
<p class="text-center">
    Let us know how we can help you...
</p>

<div class="contact-form form-vertical form-group form-group-lg row">
    {{#if responseMessage}}
        <div class="col-md-offset-3 col-md-6 col-xs-12">
            <div class="alert alert-success">{{responseMessage}}</div>
        </div>
    {{/if}}
    
    <div class="col-md-offset-3 col-md-6 col-xs-12">
        {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
    </div>
    <div class="col-md-offset-3 col-md-6 col-xs-12">
        {{textarea cols="80" rows="6" value=emailMessage class="form-control" placeholder="Please type your message." autofocus="autofocus"}}
    </div>
    <div class="col-md-offset-3 col-md-6 col-xs-12">
        <button disabled={{isDisabled}} class="btn btn-primary btn-lg btn-block" {{action 'sendMessage'}}>Send Message</button>
    </div>
</div>